---
layout: default
---
<div class="home">
    <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <div class="post-link">
          <!-- {% if post.categories %}
            <span class="post-categories">
              {% for category in post.categories %}
                <span class="label-categories">{{ category }}</span>
              {% endfor %}
            </span>
          {% endif %} -->
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </div>
        <!-- {% if post.tags %}
          <span class="post-tags">
            Tags:
            {% for tag in post.tags %}
              <span class="label label-tags">{{ tag }}</span>
            {% endfor %}
          </span>
        {% endif %} -->
        <span>{{ post.excerpt | markdownify | hilightify }}</span>
        <a href="{{ post.url | prepend: site.baseurl }}">Read more ..</a>
      </li>
    {% endfor %}
  </ul>
</div>